.thank-you-msg, .activation-options {
	margin-top: 5px;
	margin-bottom: 20px;
}

.activation-options {
	margin-left: 20px;
}

.activation-options p {
	margin-bottom: 15px;
}

.activation-options h4 {
	margin-bottom: 5px;
}

#invite-students {
	
}