#status {
	width:400px;
}

input {
	font: normal 11pt Tahoma, Geneva, sans-serif;
	padding:0.5em;
	background-color:#fff;
	border:1px solid #ccc;
}

textarea {
	font:normal 11pt Tahoma, Geneva, sans-serif;
		height:140px;
	width:97.8%;
	padding:0.5em;
}

#color {
	width:100px;
}

#color-preview {
	display:block;
	width:20px;
	height:20px;
	border:1px solid #eee;
	position:absolute;
	top:1.85em;
	left:6em;
}

#save {
	float:right;
	margin-right:0.7em;
}

#color-preview-x {
	width:20px;
}

#color-caption {
	color:gray;
	font-size:80%;
	font-style:italic;
	float:left;
	margin-top:-2.5em;
	margin-left:10.7em;
}

.see-used {
	margin-top:0.6em;
	display:block;
}

.see-used img {
	width:12px;
}

.used-colors-preview {
	float:left;
	border:1px solid #eee;
	width:12px;
	height:12px;
	margin-top:0.2em;
	margin-right:0.4em;
}

#used-statuses, #used-colors {
	margin-left:1em;
	margin-top:0.5em;
	display:none;
}