.success {
    margin: 0 -21px 15px 8px;
    display: none;
}

.throbber {
    float: right;
    margin-top: 5px;
    margin-right: 5px;
}

.section {
    margin-bottom: 1.5em;
}

.defaults {
    margin-left: 1em;
}