#newPassword, #new2 {
	float:left;
	margin-top:-1.4em;
	width:200px;
	margin-left:130px;
}

#clear {
	height:0.1em;
	clear:both;
}

.optional {
	display:none;
}

#save {
	float:left;
	margin-left:600px;
}

.liveValidation {
	position:absolute;
	right:40px;
	top:.17em;
}

.elementContainer {
	position:relative;
	width:400px;
}

img.liveValidation {
	width:15px;
}

#errorsContainer {
	display:none;
	font-size:11pt;
	padding:0.5em;
	margin-bottom:1em;
	border:2px solid #FBC2C4;
	background:#FBE3E4;
	color:#8A1F11;
}

#goBack {
	margin-top:2em;
}