html {
    min-height:100%;
}

body {
    /* fallback */
    background-color: #FBFBFB;
    background: url(../images/linear_bg_2.png) repeat-x;
    
    /* Safari 4-5, Chrome 1-9 */
    background-image: -webkit-gradient(
        linear,
        left bottom,
        left top,
        color-stop(0.50, #FBFBFB),
        color-stop(0.75, #dedbcf)
    );
    
    /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(
        center bottom,
        #FFFFFF 50%,
        #dedbcf 75%
    );
    
    /* IE 10 */
    background-image: -ms-linear-gradient(top, #DEDBCF 0%, #FBFBFB 100%);
    
    /* Opera 11.10+ */
    background-image: -o-linear-gradient(top, #DEDBCF 0%, #FBFBFB 100%);
    
}