.picklist-ms-picker {
	width:651px;
}

.disabled-control-button {
	opacity:0.5;
}

.disabled-control-button:hover {
	cursor:default;
}

.search-available-list {
	position:absolute;
	top:2.7em;
	left:0.4em;
	z-index:1000;
}

.magnifying-glass-icon {
	position:absolute;
	z-index:1011;
	right:0.5em;
	top:0.4em;
}

.picklist-ms-picker .picklist-control-buttons {
	float:left;
	width:100%;
	text-align:center;
	padding-top:6.2em;
}

.picklist-ms-picker .picklist-control-buttons a {
	margin:.2em;
	width:51%;
}

.picklist-ms-picker h2 {
	text-align:center;
	font-size: 1em;
	font-family:'Century Gothic', Arial, Helvetica, sans-serif;
	color: #fff;
	font-weight:normal;
	display:block;
	width:243px;
	padding:.5em;
	margin-bottom:-.6em;
	background:#73869B;
	background: #73869B; /* for non-css3 browsers */
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#73869B', endColorstr='#5E7084'); /* for IE */
	background: -webkit-gradient(linear, left top, left bottom, from(#73869B), to(#5E7084)); /* for webkit browsers */
	background: -moz-linear-gradient(top,  #73869B,  #5E7084); /* for firefox 3.6+ */
	height:28px;
	-moz-border-radius-topleft: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	border-top-right-radius: 5px;
}

.picklist-ms-picker select,
.search-available-list input,
.ui-widget .picklist-ms-picker select {
	width:100%;
	height:200px;
	background-color: #fff;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.5%, #f2f2f2), color-stop(10%, #ffffff));
	background-image: -webkit-linear-gradient(top, #f2f2f2 0.5%, #ffffff 10%);
	background-image: -moz-linear-gradient(top, #f2f2f2 0.5%, #ffffff 10%);
	background-image: -o-linear-gradient(top, #f2f2f2 0.5%, #ffffff 10%);
	background-image: -ms-linear-gradient(top, #f2f2f2 0.5%, #ffffff 10%);
	background-image: linear-gradient(top, #f2f2f2 0.5%, #ffffff 10%);
	border: 1px solid #aaa;
	margin: 0;
	padding: 0.2em;
	overflow: auto;
	position: relative;
	color:#444;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:10pt;
	float:left;
	padding-top:3em;
}

.picklist-ms-picker select option:disabled {
	color: #cccccc;
}

.picklist-ms-picker select.chosen-list {
	padding-top:0.5em;
}

.search-available-list input {
	height:20px;
	padding:0.2em;
	color:#666;
	width:196px;
	padding-right:2em;
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, color-stop(0.5%, #eeeeee), color-stop(15%, #ffffff));
	background-image: -webkit-linear-gradient(top, #eeeeee 0.5%, #ffffff 15%);
	background-image: -moz-linear-gradient(top, #eeeeee 0.5%, #ffffff 15%);
	background-image: -o-linear-gradient(top, #eeeeee 0.5%, #ffffff 15%);
	background-image: -ms-linear-gradient(top, #eeeeee 0.5%, #ffffff 15%);
	background-image: linear-gradient(top, #eeeeee 0.5%, #ffffff 15%);
}

.picklist-ms-picker .available-list a {
	color:#444;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11pt;
	display:block;
	width:100%;
}

.picklist-ms-picker .selected-student {
	background-color:#eee;
}

.picklist-ms-picker .available-list a:hover {
	text-decoration:none;
	cursor:default;
}

.picklist-ms-picker .fancy-focus {
	-webkit-box-shadow: 0 0 5px rgba(0,0,0,.3);
	-moz-box-shadow   : 0 0 5px rgba(0,0,0,.3);
	-o-box-shadow     : 0 0 5px rgba(0,0,0,.3);
	box-shadow        : 0 0 5px rgba(0,0,0,.3);
	outline:none;
}

.picklist-ms-picker .gray-button .ui-button-text-only .ui-button-text {
	color:#444;
	font-weight:normal;
	font-family:'Century Gothic', Arial, Helvetica, sans-serif;
	font-size:10pt;
}

.picklist-ms-submit {
	text-align: right;
	margin: 1em 0 0 0;
	float: right;
}

#picklist-fancy-filter .first_col {
	margin-right:1em;
	padding-right:1em;
	border-right:1px solid #ccc;
}

#picklist-fancy-filter .grid_4 {
	padding-left:1em;
	padding-right:1em;
	padding-bottom:1em;
	border-right:1px solid #eee;
	border-left:1px solid #eee;
	width:26%;
}

#picklist-fancy-filter .grid_3 {
	width:21%;
}

#picklist-fancy-filter h4 {
	color:#fff;
	font-size:11pt;
	font-weight:normal;
	margin-top:0.25em;
	margin-bottom:0.25em;
}

#picklist-fancy-filter select {
	color:#000;
	font-family:Tahoma, Geneva, sans-serif;
	font-size:11pt;
}

.picklist-ms-select.hybrid {
	display:none;
}

#first-ms-picker-load {
	left: 48%;
	position: absolute;
	top: 3em;
}

#hiddenStudentLink {
	font-weight: bold;
}

#hiddenStudentInfo ul {
	list-style: disc inside none;
}

#hiddenStudentInfo {
	display: none;
}