#students-section {}

#instructors-section {}

.island.withTopMargin.notifications{
    overflow: inherit;
}

.notification-type {
    padding-top: 11px;
    text-align: right;
}

.notification-title {
    text-align: right;
    padding-top: 9px;
}

.notification-message {
    text-align: right;
    padding-top: 9px;
}

.notification-type-button .form-prompt {
    margin-bottom: 0;
}

.notification-message-box .fancy-input {
    height: 65px;
    width: 100%;
}

.notification-professions {
    padding-top: 10px;
}

.notification-professions-chosen .form-prompt {
    margin-left: -3.7em;
}

.notification-chosen {
    padding-left: 35px;
}

.slider-labels {
    padding-top: 9px;
}

#control-buttons {
    margin-top: 1em;
}

#post-button {
    float: right;
    margin-left: 5px;
    margin-bottom: 10px;
    width: 100px;
}

#cancel-button {
    float: right;
    margin-bottom: 10px;
    width: 100px;
}

#preview-notification {
    font-size: 95%;
    float: right;
}