.credit-card-icon {
	width: 15%;
	margin-right: 2px;
	margin-top: .5em;
	-webkit-transition: opacity 160ms;
	transition: opacity 160ms;
}

.unusedCard {
	opacity: 0.25;
}

select#COUNTRY {
	width: 100%;
}

.braintree-field {
	border: 1px solid #DDD;
	-webkit-transition: border-color 160ms;
	transition: border-color 160ms;
	height: 15px;
	padding: 1px;
}

.braintree-hosted-fields-valid {
	background-size: 15px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: right;
	background-image: url('/images/check.png');
}

.braintree-hosted-fields-invalid {
	background-size: 14px;
	background-repeat: no-repeat;
	background-origin: content-box;
	background-position: right;
	background-image: url('/images/badinput.png');
}

#braintree-badge {
	margin-top: 30px;
}

.discounts {
	margin-bottom: 0.2em;
}