.packages-table {
    width: 100%;
}

.packages-table td {
    padding: 5px;
    border: 2px solid #b0b0b0;
}

.packages-table tr td:first-child {
    border-left: none;
}

.packages-table tr td:last-child {
    border-right: none;
}

.packages-table td.name {
    width:45%;
}

.packages-table td.options {
    width: 45%;
}

.packages-table td.cost {
    width: 10%;
}

.package-title {
    color: #655d57;
    font-weight: bold;
    font-size: 120%;
}

.package-desc {
    padding-left: 25px;
}