.products-table {
    width: 100%;
    margin-bottom: 10px;
}

.products-table td {
    border-top: 2px solid #b0b0b0;
    border-bottom: 2px solid #b0b0b0;
    padding: 10px;
}

.products-table td.product {
    width: 30%;
}

.products-table td.options {
    width: 15%;
}

.products-table td.cost {
    width: 10%;
}

.old-price {
    text-decoration: line-through;
}

.new-price {
    color:red;
}

a#next-link {
    float: right;
}