
#formContainer{
    width:385px;
    position:relative;
}

#formContainer p {
    margin-bottom:1em;
}

#throbberContainer {
    position:absolute;
    top:0px;
    right:0px;
}

#saveButton label {
    display:none;
}

#textContainer {
    margin-bottom:1em;
}

input#email {
    margin-left:1.7em;
    margin-top:-.2em;
    font-family: Verdana, Geneva, sans-serif;
    padding:.2em;
    width:220px;
}

.user {
    border:1px solid #ccc;
    padding:1em;
}

.user:hover {
    cursor:pointer;
    background-color:#eee;
}

.user b {
    font-weight:bold;
}

.radioText {
    float:left;
    width:620px;

}

.radioWrapper {
    width:30px;
    float:left;
}

.studyTools {
    font-size:11px;
    float:right;
    margin-top:1em;
    margin-bottom:0.6em;
    color:#666;
}

.ui-button-text {
    line-height:1;
}

#formContainer b {
    font-weight:bold;
}