#goal-set-table {
    margin-top: 1.5em;
}


#goal-set-table thead {
    background: #AAE1F0;
}

#goal-set-table .name-col {
    width: 70%;
}

#goal-set-table .cert-col {
    width: 15%;
    text-align: center;
}

#goal-set-table .actions-col {
    width: 15%;
    text-align: center;
}

#Submit {
    margin-left: 7px;
}