#email-table div.recurring-email {
	clear: both;
	height: 2.7em;
}

#email-table div.accordion-header-bar div.email-header {
	cursor: pointer;
	width: 368px;
    padding: 10px 7px 4px 7px;
	float: left;
}

#email-table div.accordion-header-bar div.email-header a {
	text-decoration: none;
	font-family: inherit;
	color: inherit;
}

#email-table div.accordion-header-bar div.email-user {
	cursor: pointer;
	margin: 0 1em 0 0;
	padding: 12px 7px 7px 7px;
	font-style:italic;
	float:right;
	text-align: right;
	width: 300px;
}

#email-table div.accordion-header-bar div.email-controls {
	float:right;
	width: 190px;
}

img.accordion-arrow {
	margin-right: .3em;
}

#email-table div.accordion-header-bar div.email-active {
	float:left;
	width: 90px;
}

#email-table div.accordion-header-bar div.stage {
	position: relative;
	top: 9px;
	margin-right: 1em;
}

#email-table div.accordion-header-bar div.email-actions {
	padding-top: 5px;
	float: left;
	height: 34px;
}

.edit-btn-div {
	margin-right: 1em;
	float: left;
}

.delete-recurring-email {
	float: left;
}

.delete-email {
	float: right;
}

#email-table div.email-details {
	border-top: 1px solid #cccccc;
	clear: both;
}

h6.email-summary {
	padding: 0.5em;
}

h6.column-header {
}

h6.site-title {
	padding-top: 0.5em;
}

div.email-details {
	display: none;
}

ul.filter-info {
	list-style-type: disc;
	list-style-position: inside;
}

ul.filter-info li {
	margin-left: 1.5em;
}

.stage .slider-frame .slider-button:before {
	width:49px;
}

#load-pdf-modal-throbber {
	position: relative;
	left: 20px;
	top: 5px;
	width: 50px;
}

#load-delete-modal-throbber {
	position: relative;
	left: 66px;
	bottom: 22px;
	width: 30px;
}

#deleteModalThrobber {
	position: relative;
	right: 2em;
}

#delete-modal-content {
	padding-bottom: 1em;
}

span#email-title {
	font-weight: bold;
}

.delete-email-buttons {
    float: right;
    left: 0.5em;
    margin-bottom: 0.5em;
    position: relative;
}

#cancelButtonWrapper, #confirmButtonWrapper {
    display: inline;
}

.emails_display_options {
	border-top:1px solid #bbb;
	width:98.5%;
	display:block;
	padding:0.5em;
	background-color:rgba(145, 131, 126, 0.075);
	font-size:10pt;
	color:#494540;
}
