
.quick-add-notice {
	margin: .5em 1em 1.5em .5em;
}

.edit-buttons {
	float: right;
	margin-bottom: 0.5em;
}

#shift-modal-throbber {
	position: relative;
	top: .9em;
}

.select-mobile {
	max-width:240px;
}