#base-buttons {
	margin:1.5em;
	margin-left:0em;
	position:relative;
}

#add-base-wrapper .add-base {
	display:block; 
	width:132px;
	height:29px;
	background-position:bottom;
	float: right;
	margin-top: -2.5em;
}

#search_bases-element {margin-right:-2.1em;}
#search_bases-label {display:none;}

#add-base-wrapper .add-base:hover {background-position:center;}
#add-base-wrapper .add-base:active {background-position:top;}

#add-base-wrapper .add-base-lab {background-image:url('/images/buttons/site-admin/new-lab-base-button.png');}
#add-base-wrapper .add-base-field {background-image:url('/images/buttons/site-admin/new-field-base-button.png');}
#add-base-wrapper .add-base-clinical {width:146px; background-image:url('/images/buttons/site-admin/new-clinical-department-button.png');}

#guided-tour-test-content ul {
	margin-top:1em;
	list-style:circle;
	margin-left:2em;
}

.distance_from_program_element_row {
	display:none;
}