.pdf_invoice table {
	width: 100%;
}

.pdf_invoice table thead th, .pdf_invoice table thead td, .pdf_invoice table tfoot td {
	border: 1px solid black;
}

.pdf_invoice table th {
	font-weight: bold;
}

.pdf_invoice table th, .pdf_invoice table td {
	padding: 5px;
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.invoice-columns {
	width:16.66%;
	
}

.pdf_invoice table .no-borders {
	border: none;
}

.pdf_invoice .simple-table {
	border: 1px solid black;
}

.pdf_invoice .invoice-title {
	float:right;
    font-size: 18pt;
    font-weight: bold;
    margin-bottom: 0.2em;
}

.pdf_invoice .rate, .pdf_invoice .amount {
	text-align: right;
}

.pdf_invoice .quantity, .pdf_invoice .terms, .pdf_invoice .due-date, .pdf_invoice .invoice-number, .pdf_invoice .order-id {
	text-align: center;
}

.pdf_invoice .extra-padding {
	padding-bottom: 30px;
}